<form role="form" class="loginForm">
    <div>
        <img src="../../../assets/images/Nerdsoft_Tracker_Logo.svg" />
        <md-input-container>
            <input type="password" class="form-control" placeholder="New Password" required>
        </md-input-container>
        <md-input-container>
            <input type="password" class="form-control" placeholder="Reenter New Password" required>
        </md-input-container>
        <div>
            <md-button class="md-raised md-primary" type="submit">Change Password</md-button>
        </div>
    </div>
</form>
